

.recall-container {
  min-height: 500px;
  text-align: center;
}
.recall-container .btn{
  margin-right:10px;
}

.recall-container .recall_steps{
  margin-top: 50px;
  margin-bottom: 50px;
}
.recall-container .recall_step1 .btn{
  margin-top:20px;
  margin-bottom:20px;
}
.recall-container .recall_step4 .btn{
  margin-bottom:10px;
}

.recall-container .recall_step5 {
  max-width: 600px;
  margin: 0 auto;
}
.recall-container .recall_step5 .btn{
  margin-bottom:40px;
}
.recall-container .recall_step2wo .form-inline{
  margin-bottom:10px;
}
.recall-container .recall_step2wo label{
  width: 100%;
  padding-right: 10px;
  text-align: left;
}
.recall-container .recall_step2wo select{
  width: 100%;
}
.recall-container .recall_step2wo .btn{
  margin-top:20px;
}
.recall-container .alert{
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .recall-container .recall_step2wo label{
    width: 30%;
    margin-left: 20%;
  }
  .recall-container .recall_step2wo select{
    width: 30%;
    margin-right: 20%;
  }
  .recall-container .alert{
    width: 60%;
  }
}
.recall-container .btn-link{
  font-family: "open-sans","Open Sans",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
@media (min-width: 768px) {
  .recall-container .product-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.recall-container .product-data{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recall-container .product-data p{
  margin: 0;
}
.recall-container .product-buttons{
  margin-top: 20px;
}
.recall-container #contactModal .modal-dialog{
  margin-top: 25%;
}