.recall-container {
  margin: 0 auto;
  max-width: 600px
}

.recall-container .form {
  align-items: center;
  box-shadow: 0 0 10px #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 50%
}

.recall-container .form,
input {
  border: 1px solid #777;
  border-radius: 5px
}

.recall-container input,
.recall-container select {
  margin: 10px 5px;
  padding: 10px;
  width: 100%
}

.recall-container select {
  border: 1px solid #777;
  border-radius: 5px
}

.recall-container a {
  color: #009fe1
}

.recall-container .btn,
.recall-container a {
  cursor: pointer
}

.recall-container .btn {
  display: inline-block;
  text-decoration: none
}

.recall-container .btn,
.recall-container button {
  background-color: #777;
  border: 1px solid #777;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: Roboto Slab, serif;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 5px;
  min-width: 100px;
  padding: 10px;
  text-transform: uppercase
}

.recall-container button:hover {
  background-color: #333;
  color: #fff
}

.recall-container .error{
  color: red;
  font-size: 12px;
  margin: 0 5px;
  text-align: left;
  width: 100% 
}


